.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2.5rem;
  justify-content: flex-start;
  padding: 2.5rem 0 6.25rem 0;
  width: auto;
}

.search_bar {
  align-items: flex-start;
  border-radius: 0.625rem;
  background: #f5f5f5;
  display: flex;
  gap: 0.64rem;
  justify-content: space-between;
  padding: 0.9375rem 1rem;
}

.search_input {
  background: #f5f5f5;
  border: none;
  flex-grow: 1;
  outline: none;
}

.card_list_container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
}
