.input {
  width: 350px;
  height: 60px;

  border: 1px solid #ccd5e3;
  border-radius: 8px;
  color: #000000;
}

.input::placeholder {
  color: #ccd5e3;
}

.input:focus {
  border: 1px solid #6d6afe;
}

.input_error {
  border: 1px solid #ff0000;
}

.input_eye {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
