#modal_root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container {
  position: relative;

  display: flex;
  padding: 2rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  border-radius: 0.9375rem;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
}

.modal_title {
  width: 17.5rem;

  color: var(--Linkbrary-gray100, #373740);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.modal_sub_title {
  color: var(--Linkbrary-gray60, #9fa6b2);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.modal_input {
  display: flex;
  align-items: center;
  flex: 1 0 0;

  display: flex;
  width: 17.5rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;

  color: var(--Linkbrary-gray100, #373740);
  font-size: 1rem;
  font-weight: 400;

  border-radius: 0.5rem;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
}

.modal_button {
  display: flex;
  width: 17.5rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  color: var(--Grey-Light, #f5f5f5);
  font-size: 1rem;
  font-weight: 600;

  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));

  cursor: pointer;
}

.modal_button_delete {
  border-radius: 0.5rem;
  background: var(--Linkbrary-red, #ff5b56);
}

.modal_close {
  position: absolute;

  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  cursor: pointer;
}

// modal add
.modal_add_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.9375rem;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
}

.modal_add_folder {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 16.5rem;
  padding: 0.5rem;
}

.folder_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap: 0.5rem;
  width: 100%;
  flex-grow: 1;
}

.folder_info > .folder_name {
  color: var(--Linkbrary-gray100, #373740);
  font-size: 1rem;
  font-weight: 400;
}

.folder_info > .folder_link_count {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-size: 0.875rem;
  font-weight: 400;
}
.folder_select_icon {
  display: none;

  right: 0;
  width: 0.875rem;
  height: 0.875rem;
  flex-shrink: 0;
  flex-grow: 1;
}

// modal share
.share_container {
  position: relative;
}

.share_container > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.share_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem;
  cursor: pointer;
}

.share_item > .kakao {
  border-radius: 2.33331rem;
  background: #fee500;
}

.share_item > .facebook {
  border-radius: 2.33331rem;
  background: #1877f2;
}

.share_icon {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 2.33331rem;
  background: rgba(157, 157, 157, 0.04);
}

.share_icon_text {
  color: var(--Linkbrary-gray100, #373740);
  text-align: center;
  font-family: Inter;
  font-size: 0.8125rem;

  font-weight: 400;
}
